.Landing-logo {
  height: 40vmin;
  pointer-events: none;
}

#Landing-scroll {
  height: 5vh;
  width: auto;
}

.Landing-hero {
  font-size: 2em;
  margin-bottom: 45vh;
}

.Landing-header {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
}
