.Landing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

#Landing-scroll {
  height: 5vh;
  width: auto;
}

.Landing-hero {
  margin-bottom: 42vh;
}

.Landing-hero > h1 {
  font-size: 7em;
  font-weight: 100;
}
