.btn-flat {
  color: #343d46;
  background-color: #c0c5ce;
}

.btn-flat:enabled:hover {
  background-color: #65737e;
  color: #c0c5ce;
}

body {
  color: #343d46;
  background-color: #c0c5ce;
}

html {
  scroll-behavior: smooth;
}
